body{
    background-color: white !important;
}

.woocommerce .cart-collaterals .cart_totals, .woocommerce-page .cart-collaterals .cart_totals {
    float: right;
     width: 100%;
}

h1.entry-title {
    color: #333;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 500;
    margin-bottom: 12px;
}

input#coupon_code {
    width: 90px;
}

.wc-proceed-to-checkout a.checkout-button {
    font-size: 15px !important;
}