body{
    background: #ffffff !important;
}
.featured-tintuc img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    object-position: center center;
    transition: 0.4s;
}

.featured-tintuc {
    position: relative;
    overflow: hidden;
}

.more-info-featured-tintuc {
    position: absolute;
    bottom: 0;
    color: white;
    padding: 20px;
    transition: 0.4s;
}

.more-info-featured-tintuc a {
    color: white;
}

.more-info-featured-tintuc a h2 {
    font-size: 25px;
}

.more-info-post a h2 {
    font-size: 15px;
    color: #434343;
    line-height: 20px;
}

.header-tintuc h2 {
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    padding: 0;
    margin-top: 0;
    margin-bottom: 20px;
    padding: 10px;
    position: relative;
    border-radius: 2px;
    background-color: #f30;
}

.post-item img {
    width: 100%;
    height: 120px;
    object-fit: cover;
}

.featured-tintuc:hover img {
    transform: scale(1.1);
}

.featured-tintuc:hover .more-info-featured-tintuc {
    transform: translateY(-10px);
}

.more-infor-item h2 {
    display: block;
    font-size: 20px;
    color: #444;
    font-weight: 500;
    margin-bottom: 10px;
}

.more-infor-item h2:hover {
    color: #f33;
}

p.item-blog-sumary {
    font-size: 14px;
    color: #4d4d4d;
}

.more-post-time {
    font-size: 13px;
    color: #aaa;
    margin-bottom: 5px;
}

.content-post img {
    height: 140px;
    width: 100%;
    object-fit: cover;
}

.pagenavi{

    margin: 20px 0 20px 0;

}

.pagenavi span,.pagenavi a{color: #4d4d4d;padding:3px;margin-right:5px;background:transparent;border:1px solid #757575}

.pagenavi a:hover,.pagenavi .current{background:transparent;color:#4d4d4d;text-decoration:none}

.pagenavi .page-numbers,.pagenavi .current{color: #4d4d4d;font-weight:bold}

.pagenavi .current{color: red;}

.pagenavi .page-numbers{border:1px solid #DDD;padding: 8px; border-radius: 8px;}

.pagenavi {
    text-align: center;
}

.title-post-side a {
    color: #363f4d;
    font-weight: 500;
    font-size: 13px;
}

#sidebar_by_category-2 span.posted-on {
    font-size: 11px;
    font-style: italic;
    color: #aaa;
}

#sidebar_by_category-2 span.posted-on {
    font-size: 11px;
    font-style: italic;
    color: #aaa;
}

section#sidebar_by_category-2 .title-post-side a {
    font-weight: 500;
}

section#sidebar_by_category-2 .title-post-side a:hover {
    color: #f33;
}

section#sidebar_by_category-2 .title-post-side {
    line-height: 15px;
}

.thumbnail-widget-post img {
    width: 100%;
    height: 40px;
    object-fit: cover;
}

.title-widget {
    margin: 0;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    padding: 0;
    margin-top: 0;
    margin-bottom: 10px;
    padding: 10px;
    position: relative;
    border-radius: 2px;
    background-color: #f30;
}

