.clear-all {
    background: red;
    display: none;
    text-align: center;
    color: white;
    padding: 3px 10px;
    cursor: pointer;
    float: left;
    margin-right: 10px;
    margin-top: 10px;
}

.btn-filter{
    text-align: center;
    color: white;
    padding: 3px 10px;
    display: inline-block;
    cursor: pointer;
    float: left;
    margin-right: 10px;
    margin-top: 10px;
}